:root {
    --bg-color: rgb(217, 250, 250);
    --active-tab-bg-color:rgb(192, 236, 233);
    --todo-bg-color: rgb(255, 255, 255);
    --add-todo-btn-bg-color: rgb(184, 219, 209);
    --nav-bar-text-color: black;
    --desk-bg-color: rgb(165, 201, 201);
    --back-tab-bg-color: rgb(137, 168, 160);
    --tab-radius: 7px;
    --tab-diameter: 14px;
}


html {
    font-size: 10px;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
}

body,html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.desk-container {
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--desk-bg-color);
    border-radius: 15px;
    font-size: 1.8rem;
    max-width: 80vw;
}



/* || nav bar styles  */

.project-tab {
    list-style: none;
    margin: 0;
}

.project-tab li {
    float: left;
    position: relative;
}

.project-tab a {
    float: left;
    padding: 5px 20px;
    text-decoration: none;
    
    /* Default colors */ 
    color: var(--nav-bar-text-color);
    background: var(--back-tab-bg-color);
    
    /* Only round the top corners */
    -webkit-border-top-left-radius: var(--tab-radius);
    -webkit-border-top-right-radius: var(--tab-radius);
    -moz-border-radius-topleft: var(--tab-radius);
    -moz-border-radius-topright: var(--tab-radius);
    border-top-left-radius: var(--tab-radius);
    border-top-right-radius: var(--tab-radius); 
}

.project-tab .active {
    /* Highest, active tab is on top */
    z-index: 3;
}
.project-tab .active a { 
    /* Colors when tab is active */
    background: var(--active-tab-bg-color); 
    color: black; 
}
.project-tab li:before, .project-tab li:after, 
.project-tab li a:before, .project-tab li a:after {
    /* All pseudo elements are 
       abs. positioned and on bottom */
    position: absolute;
    bottom: 0;
}

  /* Only the first, last, and active
     project-tab need pseudo elements at all */
.project-tab li:last-child:after,   .project-tab li:last-child a:after,
.project-tab li:first-child:before, .project-tab li:first-child a:before,
.project-tab .active:after,   .project-tab .active:before, 
.project-tab .active a:after, .project-tab .active a:before {
    content: "";
}

.project-tab .active:before, .project-tab .active:after {
    background: var(--active-tab-bg-color); 
    
    /* Squares below circles */
    z-index: 1;
}
/* Squares */
.project-tab li:before, .project-tab li:after {
    background: var(--back-tab-bg-color);
    width: 10px;
    height: 10px;
}

.project-tab li:before {
    left: -10px;      
}
.project-tab li:after {
    right: -10px;
}

/* Circles */
.project-tab li a:after, .project-tab li a:before {
    width: 20px; 
    height: 20px;
    /* Circles are circular */
    -webkit-border-radius: 10px;
    -moz-border-radius:    10px;
    border-radius:         10px;
    background: var(--desk-bg-color);
    
    /* Circles over squares */
    z-index: 2;
}
.project-tab .active a:after, .project-tab .active a:before {
    background: var(--back-tab-bg-color);
}
/* First and last project-tab have different
   outside color needs */
.project-tab li:first-child.active a:before,
.project-tab li:last-child.active a:after {
    background: var(--desk-bg-color);
}

.project-tab li a:before {
    left: -20px;
}
.project-tab li a:after {
    right: -20px;
}



.group:after {
    content: "";
    display: table;
    clear: both;
}



/* || project container styles  */

.project-container {
    background-color: var(--active-tab-bg-color);
    border-radius: var(--tab-radius);
    padding: 1rem;
}

.todo-container {
    display: flex;
    flex-direction: column;
    background-color: var(--todo-bg-color);
    border-radius: var(--tab-radius);
    padding: 1rem;
    margin: 1rem;
}

.todo-descrip {
    font-size: 1.5rem;
}

.add-todo-btn {
    border: none;
    background-color: var(--add-todo-btn-bg-color);
    padding: .7rem;
    margin-left: 1rem;
    border-radius: var(--tab-radius);
}